
@{
    ViewData["Title"] = "Call";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start Call to Action-->

<section class="section parallax" id="cta">

    <div class="container wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
        <div class="row">
            <div class="col-md-12 call-to-action">
                <h3>Want to work with us? </h3>
                <p>Lorem ipsum dolor consectetur adipisicing incididunt <br />laboredolore Lorem consectetur</p>
                <a href="#contact" class="btn btn-primary btn-lg btn-scroll btn-color-brown">Get in Touch</a>
                <a href="#contact" class="btn btn-primary btn-lg btn-scroll btn-color-brown">Get in Touch</a>
            </div>
        </div>
    </div>
</section>
<!--End Call to Action-->
