
@{
    ViewData["Title"] = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--  Start Features-->
<section id="features" class="section">
    <div class="container">
        <div class="row">
            <!--Start heading-->
            <div class="col-md-offset-2 col-md-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="images/left.png"> Features <img src="images/right.png"></span></h2>
                </div>
            </div>
            <!--End heading-->

            <div class="col-md-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="features-intro">
                    <h3>Passionate about crafting modern and usable design!</h3>
                    <p>We want to make word beautiful. You can use our love & passion!</p>
                </div>
            </div>

            <div class="features-main">

                <!--Start Features Left-->
                <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
                    <div class="features-left">
                        <!--Features Item #1-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-pagelines"></i> </div>
                            <div class="features-info">
                                <h4>Strategy</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                        <!--Features Item #2-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-trophy"></i> </div>
                            <div class="features-info">
                                <h4>Consulting</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                        <!--Features Item #3-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-tag"></i> </div>
                            <div class="features-info">
                                <h4>Marketing</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Features Left-->
                <!--Start Features Image-->
                <div class="col-md-4 hidden-xs  wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
                    <img src="images/device.png" alt="Features Image" />
                </div>
                <!--End Features Image-->
                <!--Start Features Right-->
                <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
                    <div class="features-right">
                        <!--Features Item #1-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-cog"></i> </div>
                            <div class="features-info">
                                <h4>Development</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                        <!--Features Item #2-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-home"></i> </div>
                            <div class="features-info">
                                <h4>App Design</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                        <!--Features Item #3-->
                        <div class="features-item">
                            <div class="features-icon"> <i class="fa fa-film"></i> </div>
                            <div class="features-info">
                                <h4>Our mission</h4>
                                <p>Quis autem velis reprehenderit et quis voluptate velit esse quam nihil et illum consequatur.</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Features Right -->
            </div>
            <!--/.features-main-->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
