@{
    this.ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="col-md-12 padding-top-md">
     <div class="bg">
         <div class="text-center" >
             <div id="wellcome-text">
                 <h1>Wellcome to InteriorDesign!</h1>
                 <h1>We are super creative team!</h1>
                 <h1>It is a pleasure seeing you!</h1>
             </div>
             <p>If you are here, you definetly need our services &amp; corporate.</p>
             <div class="container-fluid">
                 <a class="btn btn-lg btn-primary btn-color-white" id="home-services" href="/Services">What we do</a>
                 <a class="btn btn-lg btn-primary btn-color-white" id="home-portfolio" href="/Portfolio">View Works</a>
             </div>
             <br />
             <div class="text-center">
                 <a class="btn btn-lg btn-primary btn-color-white" id="home-register" href="/Identity/Account/Register">Register</a>
                 <br /><br />
                 <a href="/Portfolio/CurrentProjects">To review project</a>
             </div>
         </div>
     </div>
 </div>
