@{
    this.ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="col-md-8">
     <div class="homeslider">
         <ul id="wellcome-text">
             <li><h1>Wellcome to InteriorDesign!</h1></li>
             <li><h1>We are super creative team!</h1></li>
             <li><h1>It is a pleasure seeing you!</h1></li>
         </ul>
         <p>The template is suitable for  <br />interior, undercontruction &amp; corporate.</p>
         <div class="page-scroll scroll">
             <a class="btn btn-lg btn-primary btn-color-white" href="/Services">What we do</a>
             <a class="btn btn-lg btn-primary btn-color-white" href="/Portfolio">View Works</a>
         </div>
     </div>
 </div>
