@Model  InteriorDesign.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "IndexLoggedin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-wrapper">
    <div class="col-md-12 padding-top-md">
        <div class="bg">
            <div class="text-center">
                <div id="wellcome-text">
                    <h1>Wellcome, @this.User.Identity.Name</h1>
                    <h1>Current projects:</h1>
                </div>

                @if (Model.Projects.Count > 0)
                {
                    @foreach (var project in Model.Projects)
                    {
                        <div> Project Name: @project.Name</div>

                        @foreach (var projectFile in project.ProjectFiles)
                        {

                        }

                        @if (this.User.IsInRole("Administrator"))
                        {

                        }
                        else if (this.User.IsInRole("Designer"))
                        {

                        }
                    }
                }
                else
                {
                    <div class="text-center">
                        No current projects!
                    </div>
                    <br />
                    <div>
                        <a href="/Protfolio/Portfolio">Please, visit our portfolio page</a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

