@{
    this.ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="=row">
        <div id="wellcome-text" class="col-md-6 text-center">
            <br />
            <br />
            <div>
                <h1>Wellcome to InteriorDesign!</h1>
            </div>
            <div>
                <h1>We are super creative team!</h1>
            </div>
            <div>
                <h1>It is a pleasure seeing you!</h1>
            </div>
            <div>
                <p>If you are here, you definetly need our help &amp; services.</p>
            </div>
            <div>
                <a class="btn btn-lg btn-primary btn-color-white" id="home-services" href="/Home/Services">What we do</a>
                <a class="btn btn-lg btn-primary btn-color-white" id="home-portfolio" href="/Portfolio/Portfolio">View Works</a>
                <br />
                <br />
                <a class="btn btn-lg btn-primary btn-color-white" id="home-register" href="/Identity/Account/Register">Register</a>
                <br />
                <br />
                <a> To review project</a>
                <br />
                <br />
            </div>
        </div>
    </div>