@{
    this.ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="col-md-12 padding-top-md">
     <div class="bg">
         <div class="text-center" >
             <div id="wellcome-text">
                 <h1>Wellcome to InteriorDesign!</h1>
                 <h1>We are super creative team!</h1>
                 <h1>It is a pleasure seeing you!</h1>
             </div>
             <p>The template is suitable for  <br />interior, undercontruction &amp; corporate.</p>
             <div class="page-scroll scroll">
                 <a class="btn btn-lg btn-primary btn-color-white" href="/Services">What we do</a>
                 <a class="btn btn-lg btn-primary btn-color-white" href="/Portfolio">View Works</a>
             </div>
         </div>
     </div>
 </div>
