
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start Services-->
<div class="row justify-content-center">
    <section id="services" class="section">
        <div class="section-header">
            <h2 class="smt"><span><img src="~/images/leftw.png"> Services <img src="~/images/rightw.png"></span></h2>
        </div>
        <div lass="col-md-6" data-wow-duration="700ms" data-wow-delay="300ms">
            <!--Services Item #1-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-edit"></i> </div>
                <div class="services-desc">
                    <h4>Basic Interior Design</h4>
                    <p>This will give you a chance to plan your home following the best practices. Includes 2D planing, functional planning, materials and colors set up.</p>
                </div>
            </div>
            <!--Services Item #2-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-edit"></i> </div>
                <div class="services-desc">
                    <h4>Full Interior Design</h4>
                    <p>In addition to the basic design, you will get 3D visualizations on the project and detailed furniture planning.</p>
                </div>
            </div>

            <!--Services Item #3-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-leaf"></i> </div>
                <div class="services-desc">
                    <h4>Consultation</h4>
                    <p>We are here for you! If you need consultation, just contact us and we will arrenge the details.</p>
                </div>
            </div>
            <!--Services Item #4-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-rocket"></i> </div>
                <div class="services-desc">
                    <h4>Graphic Design</h4>
                    <p>Our team can offer you graphic design upon request.</p>
                </div>
            </div>

            <!--Services Item #5-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-edit"></i> </div>
                <div class="services-desc">
                    <h4>Retail spaces planing</h4>
                    <p>Count on us if you need help with your business initiative.</p>
                </div>
            </div>
            <!--Services Item #6-->
            <div class="services-box">
                <div class="services-icon"> <i class="fa fa-edit"></i> </div>
                <div class="services-desc">
                    <h4>Public projects</h4>
                    <p>We are thrilled to share our experience with you: consulting or designing.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--End Services-->
