
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Team-->
<section id="team" class="section">
    <div class="overlaym"></div>
    <div class="container">
        <div class="row">

            <!--Start heading-->
            <div class="col-md-offset-2 col-md-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="~/images/leftw.png"> Team <img src="~/images/rightw.png"></span></h2>
                </div>
            </div>
            <!--End heading-->
            <!--Start Team item #1-->
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="team-member">
                    <img src="~/images/team/1.jpg" class="image" alt="" />
                    <div class="team-info">
                        <h4>Amanda Doe</h4>
                        <p>Manager</p>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Start Team item #2-->
            <div class="col-lg-4 col-md-6 col-sm-6  wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="team-member">
                    <img src="~/images/team/2.jpg" class="image" alt="" />
                    <div class="team-info">
                        <h4>John Doe</h4>
                        <p>Designer</p>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Start Team item #3-->
            <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="team-member">
                    <img src="~/images/team/3.jpg" class="image" alt="" />
                    <div class="team-info">
                        <h4>John Doe</h4>
                        <p>Programmer</p>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div> <!--/row-->
    </div> <!--/container-->
</section>
<!-- End Team-->