@model List<InteriorDesign.Models.ViewModels.ProjectViewModel>

@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>

@foreach (var project in Model)
{
    <a href="/Project/Details"> Project </a>
}