
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start facts-->
<section id="facts" class="section parallax">

    <div class="container">
        <div class="row">
            <!--Start facts info #1-->
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="facts-detail">
                    <i class="fa fa-group"></i>
                    <span>250</span>
                    <p>Clients</p>
                </div>
            </div>

            <!--Start facts info #2-->
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="facts-detail">
                    <i class="fa fa-coffee "></i>
                    <span>370</span>
                    <p>Coffee Cups</p>
                </div>
            </div>

            <!--Start facts info #3-->
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="facts-detail">
                    <i class="fa fa-gift"></i>
                    <span>300</span>
                    <p>Completed Projects</p>
                </div>
            </div>

            <!--Start facts info #4-->
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
                <div class="facts-detail">
                    <i class="fa fa-trophy"></i>
                    <span>53</span>
                    <p>Award Won</p>
                </div>
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</section>
<!--End facts-->
