@using InteriorDesign.Data.Models

@model InteriorDesign.Models.InputModels.ProjectCalculatorInputModel

@{
    ViewData["Title"] = "Project Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md-6">
        <h2>Project Calculator</h2>
        @using (Html.BeginForm("ProjectCalculatorCalculate", "ProjectCalculator", FormMethod.Post, new { @class = "form-group" }))
        {
            <form class="d-flex" asp-controller="ProjectCalculator" asp-action="ProjectCalculator">
                <div class="form-group">
                    <label asp-for="Property">Type of property</label>
                    <select class="form-control" bg="dark" id="property" name="property" asp-items="Html.GetEnumSelectList<TypeOfProperty>()"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Project">Type of project</label>
                    <select multiple class="form-control" id="project" name="project" asp-items="Html.GetEnumSelectList<TypeOfProject>()"></select>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfBedrooms">Enter number of berdooms</label>
                    <input class="form-control" id="number-of-bedrooms" type="number" name="numberOfBedrooms" />
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfBathrooms">Enter number of bathrooms</label>
                    <input class="form-control" id="number-of-bedrooms" type="number" name="numberOfBathrooms" />
                </div>
                <div class="form-group">
                    <label asp-for="HousingArea">Enter housing area /sq.m./</label>
                    <input class="form-control" id="number-of-bedrooms" type="number" step="0.1" name="housingArea" />
                </div>
                <div class="text-center">
                    <label for="project-cost-evaluation">Approximate Project Design Expenses</label>
                    <div clas="form-control" id="approximate-project-cost">
                    </div>
                    @Html.TextBoxFor(model => model.Result, null, new { @class = "form-control" })
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-lg btn-primary btn-color-white" type="submit" id="submit-ProjectCalculator">Calculate</button>
                </div>
            </form>

            <br />
            <br />
            <br />
        }
    </div>
