
@{
    ViewData["Title"] = "Project Calculator";
}
@*<!--Start pricing-->
<section id="pricing" class="section parallax" id="pricing">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <!--Start heading-->
            <div class="col-md-offset-2 col-md-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="images/left.png"> Pricing <img src="images/right.png"></span></h2>
                </div>
            </div>
            <!--End heading-->
            <!-- Price detail #1-->
            <div class="col-md-4 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="pricing-table">
                    <h1>Basic</h1>
                    <h2>$99 <small>Per month</small></h2>

                    <div class="feature-list">
                        <ul>
                            <li>10 GB Storage</li>
                            <li>Linux Server</li>
                            <li>Free Live Support</li>
                            <li>Enhanced SSL Security</li>
                            <li>Free Upgrades</li>
                        </ul>
                    </div>
                    <div class="price-signup">
                        <a href="#" class="btn btn-primary btn-lg">Purchase Now</a>
                    </div>
                </div>
            </div>

            <!-- Price detail #2-->
            <div class="col-md-4 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
                <div class="pricing-table">
                    <h1>Professional</h1>
                    <h2>$199 <small>Per month</small></h2>

                    <div class="feature-list">
                        <ul>
                            <li>10 GB Storage</li>
                            <li>Linux Server</li>
                            <li>Free Live Support</li>
                            <li>Enhanced SSL Security</li>
                            <li>Free Upgrades</li>
                        </ul>
                    </div>
                    <div class="price-signup">
                        <a href="#" class="btn btn-primary btn-lg">Purchase Now</a>
                    </div>
                </div>
            </div>

            <!-- Price detail #3-->
            <div class="col-md-4 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
                <div class="pricing-table">
                    <h1>Business</h1>
                    <h2>$499 <small>Per month</small></h2>

                    <div class="feature-list">
                        <ul>
                            <li>10 GB Storage</li>
                            <li>Linux Server</li>
                            <li>Free Live Support</li>
                            <li>Enhanced SSL Security</li>
                            <li>Free Upgrades</li>
                        </ul>
                    </div>
                    <div class="price-signup">
                        <a href="#" class="btn btn-primary btn-lg">Purchase Now</a>
                    </div>
                </div>
            </div>

        </div> <!--/.row-->
    </div>
</section>
<!-- End Pricing-->*@

<h2>Project Calculator</h2>
<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
