
@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start clients-->
<section id="clients" class="section">
    <div class="overlayk"></div>
    <div class="container wow fadeInUp" data-wow-duration="700ms" data-wow-delay="600ms">
        <div class="row">
            <div class="clients-carousel">
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo1.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo2.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo3.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo4.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo5.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo6.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo7.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
                <!-- Start clients item-->
                <div class="col-md-3 col-xs-6">
                    <a href="#">
                        <figure>
                            <img src="images/clients-logo/clients-logo8.png" alt="" />
                        </figure>
                    </a>
                </div>
                <!-- End clients item-->
            </div>
        </div> <!--/row-->
    </div> <!--/container-->
</section>
<!--End clients-->