
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start portfolio-->
<section id="portfolio" class="section">
    <!-- Filtering -->
    <div class="wow fadeInUp" data-wow-duration="700ms" data-wow-delay="500ms">

        <!--Start heading-->
        <div class="col-md-offset-2 col-md-8">
            <div class="section-header">
                <h2 class="smt"><span><img src="~/images/left.png"> Works <img src="~/images/right.png"></span></h2>
            </div>
        </div>
        <!--End heading-->


        <div class=" col-md-12">
            <!-- Filtering -->
            <ul class="filtering">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter="images">Projects</li>
                <li class="filter" data-filter="images">Realizations</li>
            </ul>
        </div>
    </div>
    <div class="full-width wow fadeInUp" data-wow-duration="700ms" data-wow-delay="700ms">
        <!-- Work Grid -->
        <ul class="work-grid">
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix Web-design">
                <a href="~images/works/img1.jpg" class="popup-image">
                    <img src="/images/works/img1.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Web Design</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>

            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix graphic">
                <a href="~/images/works/img2.jpg" class="popup-image">
                    <img src="~images/works/img2.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Web Design</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>

            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix illustration">
                <a href="~images/works/img3.jpg" class="popup-image">
                    <img src="~/images/works/img3.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Illustrations</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>

            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix branding">
                <a href="~images/works/img4.jpg" class="popup-image">
                    <img src="~/images/works/img4.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Branding</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix Web-design">
                <a href="~/images/works/img5.jpg" class="popup-image">
                    <img src="~images/works/img5.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Web Design</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix graphic">
                <a href="~/images/works/img6.jpg" class="popup-image">
                    <img src="~images/works/img6.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Web Design</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix illustration">
                <a href="~images/works/img7.jpg" class="popup-image">
                    <img src="~/images/works/img7.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Illustrations</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix branding">
                <a href="~images/works/img8.jpg" class="popup-image">
                    <img src="~/images/works/img8.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Branding</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Work Block -->
            <li class="work-item thumbnail-img mix graphic">
                <a href="~/images/works/img9.jpg" class="popup-image">
                    <img src="~images/works/img9.jpg" alt="thumbnail">
                </a>
                <div class="work-info">
                    <div class="work-info-detail display-table">
                        <div class="display-table-cell">
                            <h4>Project Title</h4>
                            <p>Web Design</p>
                            <a href="single-work.html" class="btn btn-primary btn-sm btn-color-white">View More</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="clear"></div>

    <div class="work-all wow fadeInUp" data-wow-duration="700ms" data-wow-delay="800ms"> <a href="#" class="btn btn-primary btn-lg">View All Portfolio</a> </div>


</section>
<!--End portfolio-->