@model InteriorDesign.Models.InputModels.ProjectFileCreateModel;

@using System.Linq;

@{
    ViewData["Title"] = "CreateProjectFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateProjectFile</h2>

<h4>ProjectFile</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateProjectFile" enctype="multipart/form-data" runat="server" AutoPostBack="True">
            @Html.HiddenFor(m => m.ProjectId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <div class="text">
                        <label title="Name">
                            @Html.DisplayNameFor(model => model.Name)
                            <input asp-for="Name" />
                        </label>
                    </div>
                </div>
                <div class="text">
                    <label title="Choose file">
                        Choose File
                        <input type="file"
                               class="form-control text-primary text-center"
                               id="picture"
                               placeholder="Picture..."
                               asp-for="File">
                        <span asp-validation-for="File" class="text-danger"></span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create"  class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

