
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="margin"></div>
<!--Start Services-->
<section id="services" class="section">
    <div class="container">
        <div class="row">

            <!--Start heading-->
            <div class="col-md-offset-2 col-md-8 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="section-header">
                    <h2 class="smt"><span><img src="images/left.png"> Services <img src="images/right.png"></span></h2>
                </div>
            </div>
            <!--End heading-->
            <!--Services Item #1-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-leaf"></i> </div>
                    <div class="services-desc">
                        <h4>Web Design</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <!--Services Item #2-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-edit"></i> </div>
                    <div class="services-desc">
                        <h4>CMS Integration</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <!--Services Item #3-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="500ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-leaf"></i> </div>
                    <div class="services-desc">
                        <h4>SEO</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>


            <!--Services Item #4-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="600ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-rocket"></i> </div>
                    <div class="services-desc">
                        <h4>Graphic Design</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <!--Services Item #5-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="700ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-film"></i> </div>
                    <div class="services-desc">
                        <h4>Responsive Design	</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <!--Services Item #6-->
            <div class="col-md-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="800ms">
                <div class="services-box">
                    <div class="services-icon"> <i class="fa fa-codepen"></i> </div>
                    <div class="services-desc">
                        <h4>Corporate Design</h4>
                        <p>Lorem ipsum dolor consectetur adipisicing incididunt eiusmod tempor incididunt laboredolore magna aliqua.</p>
                    </div>
                </div>
            </div>

        </div> <!--/.row-->
    </div> <!--/.container-->
</section>
<!--End Services-->
