<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Interior Design</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!--styles -->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/animate.css" type="text/css" rel="stylesheet">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body data-spy="scroll">
    <!--Start Navigation-->
    <nav id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!--Start Logo -->
                    <div class="logo-nav">
                        <a href="/Home/Index">
                            <img src="~/images/logo.png" alt="Company logo" />
                        </a>
                    </div>
                    <!--End Logo -->
                    <div class="clear-toggle"></div>
                    <div id="main-menu">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                            </button>
                            <ul class="nav">
                                @if (!this.User.Identity.IsAuthenticated)
                                {
                                    <li class="active"> <a asp-controller="Home" asp-action="/Home/Index">Home</a> </li>

                                    <li> <a href="/Services/Services">Services</a> </li>

                                    <li> <a href="/Portfolio/Portfolio">Works</a> </li>

                                    <li> <a href="/Team">Team</a> </li>

                                    <li> <a href="/ProjectCalculator/ProjectCalculator">Pricing</a> </li>

                                    <li> <a href="/Clients">Clients</a> </li>

                                    <li> <a href="/Identity/Account/Login">Customer Area</a></li>

                                    <li> <a href="/Contacts">Contact</a> </li>
                                }
                                else
                                {
                                    if (this.User.IsInRole("Administrator"))
                                    {
                                        <li class="nav-item">
                                            <a href="/Admin/Create/User">Create Designer</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Admin/Create/Project">Create Project</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Identity/Account/Logout">Logout</a>
                                        </li>
                                    }
                                    else if (this.User.IsInRole("Designer"))
                                    {
                                        <li class="nav-item">
                                            <a href="/Admin/Create/Project">Create Project</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Projects/Current">Current projects</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Identity/Account/Logout">Logout</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="active"> <a href="/Home">Home</a> </li>

                                        <li class="nav-item"> <a href="/Services/Services">Services</a> </li>

                                        <li class="nav-item"> <a href="/Portfolio/Portfolio">Works</a> </li>

                                        <li class="nav-item"> <a href="/Team">Team</a> </li>

                                        <li class="nav-item"> <a href="/ProjectCalculator/ProjectCalculator">Pricing</a> </li>

                                        <li class="nav-item"> <a href="/Clients">Clients</a> </li>

                                        <li class="nav-item"> <a href="/Contacts">Contact</a> </li>

                                        <li class="nav-item">
                                            <a href="/Identity/Account/Logout">Logout</a>
                                        </li>
                                    }
                                }
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--End Navigation-->

        <main>
            <div class="container-fluid">
                @this.RenderBody()
            </div>
        </main>

    <footer class="modal-footer">
        <div class="text-center">
            &copy; @DateTime.Now.Year - InteriorDesign - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
