<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Interior Design</title>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!--styles -->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/fontawesome/font-awesome.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/animate.css" type="text/css" rel="stylesheet">
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <!--Start Navigation-->
    <nav id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!--Start Logo -->
                    <div class="logo-nav">
                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <a href="/Home/Index">
                                <img src="~/images/logo.png" alt="Company logo" />
                            </a>
                        }
                        else
                        {
                            <a href="/Home/IndexLoggedin">
                                <img src="~/images/logo.png" alt="Company logo" />
                            </a>
                        }
                    </div>
                    <!--End Logo -->
                    <div class="clear-toggle"></div>
                    <div id="main-menu">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                        </button>
                        <ul class="nav">
                            @if (!this.User.Identity.IsAuthenticated)
                            {
                                <li class="active"> <a href="/Home/Index">Home</a> </li>

                                <li class="nav-item"> <a href="/Home/Services">Services</a> </li>

                                <li class="nav-item"> <a href="/Portfolio/Portfolio">Works</a> </li>

                                <li class="nav-item"> <a href="/ProjectCalculator/ProjectCalculator">Pricing</a> </li>

                                <li class="nav-item"> <a href="/Home/Contacts">Contact</a> </li>

                                <li class="nav-item pull-right"> <a href="/Identity/Account/Register">Register</a> </li>

                                <li class="nav-item pull-right"> <a href="/Identity/Account/Login">Login</a> </li>
                            }
                            else
                            {
                                <li class="active align-content-end"><a href="/User/Profile"> My profile</a></li>

                                if (this.User.IsInRole("Administrator"))
                                {
                                    <li class="nav-item">
                                        <a href="/Project/Create">Create Project</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Designer/Assign">Create Designer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/Home/AllCompleted">Completed Projects</a>
                                    </li>
                                    <li class="nav-item pull-right">
                                        <a href="/Identity/Account/Logout">Logout</a>
                                    </li>
                                }
                                else if (this.User.IsInRole("Designer"))
                                {
                                    <li class="nav-item">
                                        <a href="/Home/IndexLoggedin">Current Projects</a>
                                    </li>
                                    <li class="nav-item pull-right">
                                        <a href="/Identity/Account/Logout">Logout</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item"> <a href="/Home/IndexLoggedin">Home</a> </li>

                                    <li class="nav-item"> <a href="/Home/Services">Services</a> </li>

                                    <li class="nav-item"> <a href="/Portfolio/Portfolio">Works</a> </li>

                                    <li class="nav-item"> <a href="/ProjectCalculator/ProjectCalculator">Pricing</a> </li>

                                    <li class="nav-item"> <a href="/Home/Contacts">Contact</a> </li>
                                    <li class="nav-item">
                                        <a href="/Project/Review">Review Project</a>
                                    </li>
                                    <li class="nav-item pull-right">
                                        <a href="/Identity/Account/Logout">Logout</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--End Navigation-->

    <main>
        <div class="container-fluid">
            @this.RenderBody()
        </div>
    </main>
    <br />
    <br />
    <br />
    <br />
    <footer class="modal-footer navbar-fixed-bottom">
        <div class="text-center">
            &copy; @DateTime.Now.Year - InteriorDesign - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
