@model InteriorDesign.Data.Models.ProjectFile;

    <div>
        <h4>ProjectFile</h4>
        <hr />
            <div class="related-project col-md-2">
                <div class="image-holder d-flex justify-content-center">
                    <a href="/Project/ProjectFile/@Model.Id">
                        <img class="img-thumbnail" src="@Model.Url" alt="...">
                    </a>
                </div>
                @if (this.User.IsInRole("Administrator"))
                {
                    <div>
                        <a href="/Project/ProjectFile/Delete">Delete File</a>
                    </div>
                }
            </div>
    </div>

