@model InteriorDesign.Models.ViewModels.ProjectFileViewModel;

  <div class="justify-content-between">
      <div class="related-project col-md-2">
          <div class="image-holder d-flex justify-content-center">
              <h4>@Model.Name</h4>
              <hr />
              <a class="img-fluid">
                  <img id="img" class="img-thumbnail" src="@Model.Url" onclick="window.open(this.src)">
              </a>
          </div>
          <div>
              @if (Model.IsApproved)
              {
                  <ul class="glyphicon glyphicon-thumbs-up"> Approved</ul>
              }
              else
              {
                  <ul class="glyphicon glyphicon-thumbs-down"> Not Approved</ul>
              }
          </div>
          @if (this.User.IsInRole("Administrator"))
          {
              <form method="post" asp-action="Delete" asp-controller="ProjectFile">
                  <input name="Id" value="@Model.Id" type="hidden" />
                  <button class="btn btn-danger" type="submit" Onclick="ConfirmDelete()">Delete File</button>
              </form>
          }
          @if (this.User.IsInRole("Customer") && this.Model.IsApproved == false)
          {
              <form method="post" asp-action="Approve" asp-controller="ProjectFile">
                  <input name="Id" value="@Model.Id" type="hidden" />
                  <button class="btn btn-color-brown" type="submit">Approve</button>
              </form>
          }
      </div>
  </div>
<script>
    
function ConfirmDelete()
{
  var x = confirm("Are you sure you want to delete file");

    return x;
}

</script>


