@model InteriorDesign.Models.ViewModels.AllUsersViewModel;

@using InteriorDesign.Data.Models

@{
    ViewData["Title"] = "Create Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper">
    <div class="row">
        <div class="col-md-6">
            <h2>Create Project</h2>
            <h4>New Project</h4>
            <hr />
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName">Name</label>
                    <input type="text" name="projectName" id="projectName" runat="server" onfocus="this.value=''" value="Project Name..." />
                </div>
                <div class="form-group">
                    <asp:DropDownList ID="customer" runat="server" AutoPostBack="True">
                        <label asp-for="Customers" class="control-label"></label>
                        @Html.DropDownList("Customer", new SelectList(Model.Customers, "Email"))
                    </asp:DropDownList>
                </div>
                <div class="form-group">
                    <asp:DropDownList ID="designer" runat="server" AutoPostBack="True">
                        <label asp-for="Designers" class="control-label"></label>
                        @Html.DropDownList("Designer", new SelectList(Model.Designers, "Email"))
                    </asp:DropDownList>
                </div>
                <div class="form-group">
                    <asp:CheckBox id="isPublic" runat="server" AutoPostBack="True" OnCheckedChanged="IsPublicSet">
                        <label asp-for="IsPublic" class="checkbox"></label>
                        <input type="checkbox" ID="isPublic" value="@Model.IsPublic" />
                    </asp:CheckBox>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>