@model InteriorDesign.Models.ViewModels.ProjectDetailsViewModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

    <h4>Project</h4>
    <hr />
    <div class="d-flex justify-content-between">
        @Html.HiddenFor(m => m.Id)
        <div>
            @Model.Name
        </div>
        <hr />
    </div>
    @foreach (var projectFile in Model.ProjectFiles)
    {
        @await Html.PartialAsync("ProjectFile", projectFile);
    }

