@model InteriorDesign.Data.Models.Project;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    </dl>
    @foreach (var projectFile in Model.ProjectFiles)
    {
        @await Html.PartialAsync("ProjectFile", projectFile);
    }
</div>
