@model InteriorDesign.Models.ViewModels.ProjectDetailsViewModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h2>Details</h2>

        <h4>Project</h4>
        <hr />

        @Html.HiddenFor(m => m.Id)
        <div>
            @Model.Name
        </div>
        <br />
        <div>
            @if (Model.DesignBoards.Any())
            {
                foreach (var designBoard in Model.DesignBoards)
                {
                    @await Html.PartialAsync("DesignBoard", designBoard);
                }
            }
            <br />
        </div>
        <div>
            @if (this.User.IsInRole("Customer"))
            {
                <a class="btn btn-default" href="/DesignBoard/Create?id=@Model.Id">Create DesignBoard</a>
            }
        </div>
        <hr />
    </div>
@foreach (var projectFile in Model.ProjectFiles)
{
    @await Html.PartialAsync("ProjectFile", projectFile);
}
<div>
    @if (Model.ProjectReviews.Count > 0)
    {
        <label>Project reviews</label>

        @foreach (var projectReview in Model.ProjectReviews)
        {
            <div class="comment">
                <p class="post-description">@projectReview.Review</p>
            </div>
        }
    }
</div>


