@model InteriorDesign.Models.ViewModels.ProjectEditViewModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (this.User.IsInRole("Administrator"))
            {
                <div class="form-group" runat="server" AutoPostBack="True">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <asp:DropDownList ID="statuses" runat="server" AutoPostBack="True">
                        <label asp-for="Statuses" class="control-label"></label>
                        @Html.DropDownList("Statuses", new SelectList(Model.Statuses, "Statuses"))
                    </asp:DropDownList>
                </div>
                <div class="form-group" runat="server" AutoPostBack="True">
                    <div class="checkbox">
                        <label>
                            <input checked asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input value="Save" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Project", new {  id = Model.Id })'" />
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" runat="server" onclick="return confirm('Are you sure you want to delete this project?');"
                            AlternateText="Delete">
                        DELETE PROJECT
                    </button>
                </div>
            }

            @if (Model.ProjectFiles.Count > 0)
            {
                @foreach (var projectFile in Model.ProjectFiles)
                {
                    @await Html.PartialAsync("ProjectFile", projectFile)
                }
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="/Home/IndexLoggedin">Back to List</a>
</div>

