@model List<ProjectViewModel>

@using InteriorDesign.Models.ViewModels;

@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @if (Model.Count > 0)
    {
        foreach (var project in Model)
        {
            @await Html.PartialAsync("Project", project)

          <div class="row">
              <div class="col-md-6">
                  <form method="post" asp-controller="Project" asp-action="Review">
                      <input name="Id" value="@project.Id" type="hidden" />
                      <input name="review-body" class="form-control col-6" onfocus="this.value=''" value="Add project review" runat="server" />
                      <button class="btn btn-color-brown" type="submit">Add Review</button>
                  </form>
              </div>
          </div>
        }
    }
    else
    {
        <div class="text-center">
            No current projects!
            <br />
            <div>
                <a href="/Portfolio/Portfolio">Please, visit our portfolio page</a>
            </div>
        </div>

    }