@model InteriorDesign.Models.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-wrapper">
        <div class="col-md-6">
            <h2>Profile</h2>
            <h4>Personal data</h4>
            <hr />
            <dl class="dl-horizontal">
            </dl>
            <div>
                <form id="profile">
                    <label class="text-center">Email</label>
                    <input type="email" placeholder="@Model.Email" readonly />
                    <label class="text-center">Birthday</label>
                    <input type="date" value="Enter birtday..." />
                    <label class="text-center">Full Name</label>
                    <input type="text" value="Enter Full Name" />
                    <div>
                        <btn class="btn-primary">Update</btn>
                    </div>
                </form>
            </div>
        </div>
    </div>