@model InteriorDesign.Models.ViewModels.UserDetailsViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="main-wrapper">
        <div class="col-md-6">
            <h2>Profile</h2>
            <h4>Personal data</h4>
            <hr />
            <div>
                <form id="profile" runat="server" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label class="text-center">Email</label>
                        <input type="email" asp-for="@Model.Email" readonly />
                        <label id="birthday" class="text-center">Birthday</label>
                        <input type="date" asp-for="@Model.Birthday"/>
                        <label id="fullName" class="text-center">Full Name</label>
                        <input type="text" asp-for="@Model.FullName" />
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                    <div />
                </form>
            </div>
        </div>
    </div>